{{> head }}

    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Mazinger Z</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus expedita ullam aut accusamus consequatur cumque suscipit minus sunt. Assumenda dicta sint sit facere, tenetur hic repudiandae voluptatem in minima totam.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/mazingerz.jfif" class="img-thumbnail">
    </div>

</div>

{{> footer }}